.vertical-menu {
  list-style-type: none;
  width: 250px;
}
.vertical-menu li {
  padding: 8px;
  background-color: #7a7979;
  cursor: pointer;
  height: 50px;
}
.vertical-menu li:hover {
  background-color: #555555;
}
.vertical-menu li span {
  font-size: 14px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 10px;
}
